
<%- include('./partials/header.ejs')%>
<%-  include('./partials/nav.ejs')%>


<section class="flex items-center justify-center h-[90vh] bg-gray-100">
    <div class="w-full max-w-md">
      <form action="/update-user/<%= guest._id %>" method="post" enctype="multipart/form-data"  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-2xl font-bold mb-6 text-center">Booking Information Form</h2>
        <div class="  flex align-items-center justify-around ">
        <div class="mb-4">
          <img src="/images/<%= guest.profile %>" alt="" class="h-[8vh] w-[8vh]  border-2 border-blue-500 rounded-full object-fit object-center">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" placeholder="Name" value="<%= guest.name  %>"  required>
        </div>
      </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Phone</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="tel" name="phone" placeholder="Phone" value="<%= guest.phone  %>" required>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" placeholder="Email" value="<%= guest.email  %>" required>
        </div>
        
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Address</label>
          <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address" name="address" placeholder="Address" value="<%= guest.address  %>" required></textarea>
        </div>
        
         <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="profile">Profile Picture</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="profile" type="file" name="profile" required>
        </div> 
        
        <div class="flex items-center justify-center">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>

